$primary-color: #10385B;
// intakes-on-section
$darkest-blue: #071D31;
// intakes-on-section-cards
$dark-blue: rgba(3, 84, 159, 0.286);

$white: #FFFFFF;
$testimonials-white: #F9F9F9;
$light-ash: #666666;
// course-value background
$cv-white: #F1F5F8;

// skyblue
$skyblue-b: #2B98f7;
$skyblue-cerfification: #2D82E5;
// testimonial-readmore
$skyblue-trm: #0060E4;
// data-engineer
$skyblue-de: #03549F;
// applay-button-icon
$skyblue-abi: #04BBF2;
// footer
$skyblue-f: #1D7AD0;
// more 
$skyblue-more: #0060E4;


