$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;

$spacer-6: 48px;
$spacer-7: 64px;
$spacer-8: 80px;
$spacer-9: 96px;
$spacer-10: 112px;

$spacer-11: 136px;
$spacer-12: 160px;
$spacer-13: 184px;

$spacer-14: 208px;
$spacer-15: 240px;
$spacer-16: 272px;
$spacer-17: 296px;
$spacer-18: 328px;

$spacer-19: 368px;
$spacer-20: 408px;
$spacer-21: 448px;
$spacer-22: 488px;
$spacer-23: 528px;

$spacer-24: 584px;
$spacer-25: 640px;
$spacer-26: 696px;

$spacer-27: 768px;
$spacer-28: 840px;

$spacer-29: 944px;
$spacer-30: 1048px;
$spacer-31: 1152px;
