.footer-top{
    background: linear-gradient(to right, #22123d, #023068);
    display: flex;
    padding: 36px;
    justify-content: space-around;

    .separator{
    margin-top: 44px;
    border-left: 1px solid rgba(255, 255, 255, 0.295); 
  }
}

@include mobile{
    .footer-top{
        .separator{
            margin-top: 32px;
          }
    }
}


