.locations-tiles{
    padding: 0 24px;
    background-color: #E9E9E9;
    &__carousal{
        display: flex;

    }


    &__subscribe{
        display: flex;
        height: 113px;
        background-color: $skyblue-f;
        margin: 0 52px 0 52px;
        padding: 0 $spacer-5;
        align-items: center;
        justify-content: space-between;
    }

    &__letterhead{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $white;
    }
    &__letterfoot{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $white;
    }

    &__emailtake{
        display: flex;
        align-items: center;
    }
    // input field 
    &__typing{
        border: none;
        outline: none;
        width: 386px;
        height: 42px;
        box-sizing: border-box;
        padding: 0 26px;
    }
    &__button{
        display: flex;
        justify-content: center;
        cursor: pointer;
        height: 42px;
        width: 42px;
        background-color: $primary-color;
        & img{
            width: 18px;
        }
    }
}




@include mobile{
    .locations-tiles{
        padding: 0 28px 0 28px;
        &listing-tiles{
            width: 20px;
            margin-left: 10px;
            right: 0;
        }
        &__carousal{
            margin-left: 10px;
        }


        &__subscribe{
            flex-direction: column;
            height: 132px;
            padding: 0 16px;
            justify-content: center;
        }
        &__letterhead{
            font-size: 16px;
            line-height: 24px;
        }
        &__letterfoot{
            line-height: 19px;
        }
        &__typing{
            width: 336px;
            height: 38px;
            padding: 0 18px;
        }
        &__button{
            height: 38px;
            width: 38px;
        }
    }
}